.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #4ce4a9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: fixed;
  bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 2em;
}
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 60%;
}
